body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin: 0;
   
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    
    
   
    display: flex;
    justify-content: center;  /* Center the form horizontally */
    flex-direction: column;
  
    
   
    
}

.form-box {
    display: flex;
    flex-direction: column;
    margin: 60px;
    
}

h2 {
    margin-bottom: 30px;
    color: #4C5743;
    text-align: center;

   
    
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 30px;
}




.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
}

.phone-input input {
    flex: 3;
    padding: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    
    
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #BB650E; /* Deep orange */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    
}

.form-actions button:hover {
    background-color: #e64a19; /* Darker orange */
}

.form-actions button.previous {
    background-color: #9e9e9e; /* Gray */
}

.form-actions button.previous:hover {
    background-color: #757575; /* Darker gray */
}

.form-action{
    display: flex;
    justify-content: center;

    
}
.form-action button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff5722; /* Deep orange */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    
}

.form-action button:hover {
    background-color: #e64a19; /* Darker orange */
}


.required {
    color: red; /* Make the asterisk red to highlight that it's required */
    margin-left: 5px;
  }



  
/* Responsive styles */
@media (max-width: 600px) {
    .phone-input {
        flex-direction: column;
        width: 100;
    }

    .phone-input select {
        margin-bottom: 10px;
        width: 100%;
    }

    .phone-input input {
        width: 100%;
    }

    .form-actions {
        flex-direction: column;  /* Stack buttons vertically on mobile */
    }

    .form-actions button {
        width: 100%;  /* Make buttons full width */
        margin-bottom: 10px;
    }
}
